@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Prompt', 'Sarabun', Arial, sans-serif !important;
}

body {
    font-family: 'Prompt', 'Sarabun', Arial, sans-serif !important;
}

.font-sans {
    font-family: 'Prompt', 'Sarabun', Arial, sans-serif !important;
}